#### テスト - 初期化関連

In [12]:
import sys
sys.path.append("../") # homeディレクトリをpathに追加

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import japanize_matplotlib
# import warnings
# warnings.simplefilter('error')

from utils import const, init_functions
# from utils.init_functions import *
from models import GasAdosorption_Breakthrough_simulator

%cd c:\Users\jfe144674\WorkSpace\PJ493_DataAssim_CatalyticReactor\codes_PJ493\05_gas_adsorption_3dim

c:\Users\jfe144674\WorkSpace\PJ493_DataAssim_CatalyticReactor\codes_PJ493\05_gas_adsorption_3dim

In [13]:
cond_id = "2_01_mod_lid_temp"
self = GasAdosorption_Breakthrough_simulator(cond_id)

- 全体共通パラメータ

In [14]:
self.common_conds

{'data_path': '20240624_ICTへの提供データ_PSA実験_編集_メイン.xlsx',
 'dt': 0.01,
 'CELL_SPLIT': {'num_str': 2, 'num_sec': 3},
 'PACKED_BED_COND': {'Dbed': 0.1552,
  'Lbed': 0.868,
  'Mabs': 10800,
  'lambda_col': 0.2,
  'epsilon_p': 0.3,
  'cabs': 0.8,
  'kp': 1.134575,
  'epsilon': 0.36,
  'dp': 0.003,
  'phi': 1,
  'vp': 2,
  'ks': 400,
  'Rbed': 0.0776,
  'Sbed': 0.018917916977680874,
  'Vbed': 0.016420751936627,
  'rho_abs': 0.657704351279448,
  'Cbed': 8640.0},
 'DRUM_WALL_COND': {'Ddrum': 0.1652,
  'Dense_drumw': 7.93,
  'sh_drumw': 0.59,
  'c_drumw': 16.7,
  'coef_outair_heat': 20,
  'temp_outside': 18,
  'Rdrum': 0.0826,
  'Ldrum': 0.868,
  'Tdrumw': 0.0050000000000000044,
  'Sdrumw': 0.0025164157155254285,
  'Vdrumw': 0.002184248841076072,
  'Wdrumw': 17321.09330973325,
  'la_drum': 0.45048428033179344},
 'LID_COND': {'UP': {'Dflange': 280,
   'Tflange': 22,
   'PDflange_up': 34,
   'PDflange_dw': 165,
   'Sflange_up': 0.060667295733472494,
   'Vflange_up': 1334.6805061363948,
   'Vflange_dw': 884.2405222610171,
   'Mflange': 17596.043755191473},
  'DOWN': {'Dflange': 280,
   'Tflange': 22,
   'PDflange_up': 60.5,
   'PDflange_dw': 165,
   'Sflange_up': 0.05870046238278443,
   'Vflange_up': 1291.4101724212576,
   'Vflange_dw': 884.2405222610171,
   'Mflange': 17252.910008830437}},
 'INFLOW_GAS_COND': {'mw_co2': 44,
  'fr_co2': 22,
  'mw_n2': 28,
  'fr_n2': 28,
  'press': 0.103,
  'temp': 18.0,
  'dense_co2': 1.882998074,
  'dense_n2': 1.192247215,
  'c_co2': 0.016083292,
  'c_n2': 0.025327674,
  'vi_co2': 1.46e-05,
  'vi_n2': 1.75e-05,
  'enthalpy': 411.4,
  'cp_co2': 0.84426034,
  'cp_n2': 1.041366956,
  'adsorp_heat_co2': 1363.6,
  'adsorp_heat_n2': 642.9,
  'fr_all': 50,
  'mf_co2': 0.44,
  'mf_n2': 0.56,
  'dense_mean': 1.49617759296,
  'c_mean': 0.02126014592,
  'vi_mean': 1.6224e-05,
  'cp_mean': 0.9546400449600001,
  'C_per_hour': 4.4799893538480005}}

- streamパラメータ

In [15]:
self.stream_conds

{1: {'r_in': 0,
  'r_out': 0.0388,
  'Sstream': 0.004729479244420218,
  'streamratio': 0.25,
  'Circ_in': 0.0,
  'Ain': 0.0,
  'Circ_out': 0.24378758991856794,
  'Aout': 0.21160762804931696,
  'Mabs': 2700.0},
 2: {'r_in': 0.0388,
  'r_out': 0.0776,
  'Sstream': 0.014188437733260654,
  'streamratio': 0.7499999999999999,
  'Circ_in': 0.24378758991856794,
  'Ain': 0.21160762804931696,
  'Circ_out': 0.4875751798371359,
  'Aout': 0.4232152560986339,
  'Mabs': 8099.999999999999},
 3: {'r_in': 0.0776,
  'r_out': 0.0826,
  'Sstream': 0.0025164157155254285,
  'Circ_in': 0.4875751798371359,
  'Ain': 0.4232152560986339,
  'Circ_out': 0.5189911063730339,
  'Aout': 0.45048428033179344,
  'Mwall': 17321.09330973325}}

In [16]:
self.df_obs

,Pressure,temp_11,temp_21,temp_12,temp_22,temp_13,temp_23,temp_inflow,temp_out,flow_rate_n2,flow_rate_co2
time,,,,,,,,,,,
0.000000,17.2,14.75,15.40,15.80,17.15,16.00,17.35,18.55,17.4,27.90,20.58
0.033333,26.1,14.75,15.45,15.80,17.15,16.00,17.35,18.50,17.4,22.80,21.78
0.066667,28.2,14.80,15.45,15.85,17.15,16.05,17.35,18.40,17.4,27.90,21.78
0.100000,30.2,14.85,15.50,15.85,17.20,16.05,17.35,18.40,17.4,27.90,21.78
0.133333,32.2,14.90,15.50,15.90,17.20,16.05,17.40,18.40,17.4,27.90,21.78
...,...,...,...,...,...,...,...,...,...,...,...
13.800000,103.6,48.70,41.90,49.50,44.55,48.60,45.20,18.90,17.6,28.05,21.78
13.833333,103.6,48.70,41.85,49.50,44.50,48.65,45.15,18.90,17.6,28.05,21.75
13.866667,103.6,48.70,41.80,49.50,44.45,48.70,45.15,18.90,17.6,27.90,21.78
13.900000,103.5,48.70,41.80,49.50,44.40,48.70,45.10,18.90,17.6,28.20,21.78
13.933333,103.5,48.70,41.75,49.50,44.35,48.75,45.10,18.90,17.6,27.90,21.75